<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'

  %body
    .container
      %h1 КИОСК (Лэндинги)
      %hr
      - pages = [{src: 'landing.html', title: 'Лэндинг (old версия)'}, {src: 'landing2.html', title: 'Лэндинг'}, {src: 'landing3.html', title: 'Лэндинг с тарифами'}]
      %ol
        - for page of pages
          - page = pages[page]
          %li
            %h4
              %a{href: "#{page.src}"}
                = page.title