<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'

  %body
    .container
      %h1 ЛЭНДИНГИ КИОСКА
      %hr
      - pages = ['landing.html']
      %ol
        - for page of pages
          - page = pages[page]
          %li
            %h4
              %a{href: "#{page}"}
                = page