.kiosklanding-auth-button
  padding: 10px 20px
  background-color: transparent
  border-color: $btn-default-border
  font-size: 13px
  &:hover
    background-color: $btn-default-border
    color: #000

.kiosklanding-callback-button
  @include button-variant(#fff, #ff0036, rgba(255, 255, 255, 0))
  padding: 16px 28px