.kiosklanding-auth-button
  padding: 10px 14px
  background-color: transparent
  border-color: $btn-default-border
  font-size: 13px
  color: $text-color
  &:hover
    background-color: $btn-default-border
    color: #000