.kiosklanding-auth-button
  padding: 10px 14px
  background-color: transparent
  border-color: $btn-default-border
  font-size: 13px
  color: $text-color
  &:hover
    background-color: $btn-default-border
    color: #000

.kiosklanding-request-button
  padding: 10px 14px
  background-color: #e8e6e6
  font-size: 13px
  color: #313131 !important
  &:hover
    background-color: darken(#e8e6e6, 5%)