.kiosklanding-callback-form

.kiosklanding-callback-form-form
  position: relative
  @include clearfix

.kiosklanding-callback-form-input
  padding: 17px 16px
  width: 100%
  border: none
  background-color: #ff0036
  border-radius: $border-radius-base
  color: #fff

.kiosklanding-callback-form-open-button
  @include button-variant(#fff, #ff0036, rgba(255, 255, 255, 0))
  padding: 16px 28px

.kiosklanding-callback-form-submit-button
  @include button-variant(#ff0036, #fff, rgba(255, 255, 255, 0))
  margin:
    top: 8px
    right: 8px
    left: -100%
  padding: 8px 15px
  position: relative
  float: right