.kiosklanding-navbar
  width: 100%
  padding: $grid-gutter-width/2 0
  position: absolute
  top: 0
  left: 0
  z-index: $zindex-kiosklanding-navbar

  .navbar-text
    font-size: 15px
    color: $text-color
    .text-muted
      color: #a8a3a3
    a
      color: inherit

  .kiosklanding-auth-button
    margin: 6px 0

.kiosklanding-navbar-logo
  width: 73px
  height: 15px
  @include img-retina("#{$images-path}/logo.png", "#{$images-path}/logo@2x.png", 73px, 15px)
  display: inline-block
  vertical-align: middle